.App {
  text-align: center;
  background-color: #13005a;
}

#detail {
  margin-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#error-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.link-message {
  font-size: 13px;
}

.link-margin {
  margin-right: 5px;
}

.navBar {
  background-color: #03c988;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
  font-size: 20px !important;
}

.btn-success {
  background-color: #03c988 !important;
  border-color: #03c988 !important;
}

h2 {
  color: #1c82ad !important;
}

.date-picker {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  appearance: none;
  border-radius: 0.375rem;
  transition: #dee2e6 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.date-picker:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
